.custom-list-item {
  cursor: pointer;
  background-color: transparent;
  padding-bottom: 5px;
  position: relative;
}

.custom-list-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: brown;
  transition: width 0.3s ease;
}

.custom-list-item:hover::after {
  width: 100%;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.img-fluid {
  width: 400px;
  height: auto;
}

